<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Modifications</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="form-group">
        <label for="numero" class="col-sm-2 control-label">Numero</label>
        <div class="col-sm-10">
            <input type="text" ng-model="Groupe.numero" class="form-control" id="numero" value="Groupe.numero"/>
        </div>
    </div>




    <!-- Ajouter Menu déroulant pour associer l'élève à un ou DES cours -->

            <!-- Ajouter Menu déroulant pour associer l'élève à un ou DES groupes -->



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" ng-click="updateGroupe()" class="btn btn-primary" value="Modifier Groupe"/>
                </div>
            </div>
        </div>
    </div>
</div>