<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <style>
        .thumbnail{
            height:410px;
            width:250px;
        }
    </style>

    <!-- /.row -->
    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Evaluations en cours
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-4" ng-repeat="eval in evaluationsEnCours">
                            <div class="thumbnail">
                                <img data-holder-rendered="true" src="{{eval.cours.image}}"
                                     style="height: 200px; width: 90%; display: block;" alt="{{eval.cours.nom}}">
                                <div class="caption">
                                    <h3 style="max-height:55px; overflow:hidden" data-toggle="popover" title="{{eval.nom}}">{{eval.nom}}</h3>
                                    <h4>{{eval.cours.nom}}</h4>
                                    <p>A rendre avant le {{eval.date_rendu}}</p>
                                    <button class="btn btn-primary center-block" ui-sref="enseignant.voirEvaluation/{{eval.id}}">
                                        Voir l'évaluation
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>


            <div panel panel-default ng-controller="EnseignantController">
                <div class="panel-heading">
                    Mes évaluations passées
                </div>
                <div class="panel-body">
                    <!--<div class="row">
                        <div class="col-sm-6 col-md-4" ng-repeat="cours in enseignantCo.cours">
                            <div class="thumbnail">
                                <img data-holder-rendered="true" src="{{cours.image}}"
                                     style="height: 200px; width: 90%; display: block;" alt="{{cours.nom}}">
                                <div class="caption">
                                    <h3 style="max-height:55px; overflow:hidden" data-toggle="popover" title="{{nom}}">{{nom}}</h3>
                                    <h4>{{eval.cours.nom}}</h4>
                                    <p>A rendre avant le {{eval.date_rendu}}</p>
                                    <button class="btn btn-primary center-block" ui-sref="enseignant.voirEvaluation({{eval.id}}">
                                        Voir l'évaluation
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-lg-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <input ng-show="!searchLabel" type="text" class="form-control" aria-label="..." ng-model="searchBox.nom">
                            <input ng-if="searchLabel === 'nom'" type="text" class="form-control" aria-label="..." ng-model="searchBox.nom">
                            <input ng-if="searchLabel === 'section'" type="text" class="form-control" aria-label="..." ng-model="searchBox.categorie">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">{{searchLabel || 'Nom' }}  <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="" ng-click="searchLabel = 'nom'; searchBox={}">Nom</a></li>
                                    <li><a href="" ng-click="searchLabel = 'categorie'; searchBox={}">Catégorie</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div>

                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr class="">
                            <th></th>
                            <th>Nom <a ng-show="!nomup" href="" ng-click="myOrderBy='Nom'; nomup=true">
                                <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                <a ng-show="nomup" href="" ng-click="myOrderBy='-Nom'; nomup=false">
                                    <span class="glyphicon glyphicon-triangle-top"></span>
                                </a>
                            </th>
                            <th>Catégorie <a ng-show="!prenomup" href="" ng-click="myOrderBy='Categorie'; prenomup=true">
                                <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                <a ng-show="prenomup" href="" ng-click="myOrderBy='-Prenom'; prenomup=false">
                                    <span class="glyphicon glyphicon-triangle-top"></span>
                                </a>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="infos" ng-repeat-start="cours in enseignantCo.cours | filter:searchBox | orderBy:myOrderBy" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td>
                                <button ng-if="cours.expanded" ng-click="cours.expanded = false" class="btn btn-success btn-circle-micro pull-right" ><i class="fa fa-angle-up"></i></button>
                                <button ng-if="!cours.expanded" ng-click="cours.expanded = true" class="btn btn-success btn-circle-micro pull-right" ><i class="fa fa-angle-down"></i></button>
                            </td>
                            <td>{{cours.nom}}</td>
                            <td>{{cours.categorie}}</td>
                        </tr>

                        <tr ng-if="cours.expanded" ng-repeat-end="">
                            <td colspan="99">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example6">
                                    <thead>
                                            <tr class="">
                                                <th>
                                                    Nom
                                                </th>
                                                <th>
                                                    Date de rendu
                                                </th>
                                                <th>
                                                    Date de fin de correction
                                                </th>
                                                <th>
                                                    Moyenne
                                                </th>
                                                <th></th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="infos" ng-repeat="eval in cours.evaluations | orderBy:'date_rendu'" ng-class-odd="'odd'" ng-class-even="'even'">

                                            <script type="text/javascript">
                                                $(document).ready(function(){
                                                    $('[data-toggle="popover"]').popover({
                                                        placement : 'top',
                                                        trigger : 'hover'
                                                    });
                                                });
                                            </script>

                                            <td>
                                                <span data-toggle="popover" title="{{eval.nom}}" data-content="{{eval.description}}">
                                                    {{eval.nom}}&nbsp;
                                                </span>
                                            </td>
                                            <td>{{eval.date_rendu}}</td>
                                            <td>{{eval.date_fin_correction}}</td>
                                            <td>{{eval.note_moyenne}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-circle-micro" ui-sref="enseignant.voirEvaluation">
                                                    <i class="fa fa-list"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    </div>
                </div>
            <!-- /.panel -->
        </div>
    </div>
</div>