<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Corriger une copie</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <!-- modified -->
        <div class="col-lg-12">
            <div ng-repeat="section in copie.sections">
                <div class="panel {{panelColor[$id%4]}}">
                    <div class="panel-heading">
                        {{section.titre}}:&nbsp;&nbsp;
                        /{{section.points}}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div>
                            <h4>Evaluation :</h4>
                            {{section.description}}
                            <br>
                            <a target="_blank" href="{{section.enonce}}">Enoncé</a>
                            <br><br>
                        </div>
                        <div>
                            <a target="_blank" href="{{copie.fichier}}">Réponse de l'élève</a>
                        </div>
                        <br>
                        <h4>Correction</h4>
                        <div class="container" data-target="#{{section.id}}">
                            <ul class="nav nav-pills">
                                <li ng-repeat="critere in section.criteres">
                                    <a ng-click="setTab(critere.id)" data-target="#{{section.id*100+critere.id}}" data-toggle="tab">
                                        Critère n°{{critere.ordre}}
                                    </a>
                                    <div id="{{section.id*100+critere.id}}" class="tab-pane fade" ng-show="isTab(critere.id)">
                                        <div ng-if="critere.type=='commentaire'">
                                            <h5>Commentez: </h5>
                                            <textarea placeholder="Commentaire"/>
                                        </div>

                                        <div ng-if="critere.type=='condition'">
                                            <h5>Note: </h5>
                                            <textarea placeholder="Commentaire"/>
                                        </div>

                                        <div ng-if="critere.type=='jugement'">
                                            <h5>Note: </h5><input type="number" step="0.5" min="0"/>
                                            <h5>Commentez: </h5>
                                            <textarea placeholder="Commentaire"/>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary pull-right" ui-sref="eleve"/>
    </div>
</div>