<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{Cours.intitule}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Modifier le cours
                </div>


                <div class="panel-body">
                    <div class="form-group">
                        <label for="intitule" class="col-sm-2 control-label">Intitulé</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="Cours.intitule" class="form-control" id="intitule" value="{{Cours.intitule}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="section" class="col-sm-2 control-label">Section</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="Cours.section" class="form-control" id="section" value="{{Cours.section}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea ng-model="Cours.description" class="form-control" id="description" value="{{Cours.description}}"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" ng-click="updateCours()" class="btn btn-primary" value="Modifier Cours"/>
                    </div>
                </div>
                </br></br>

            </div>

            <!---------------------Enseignants--------------------->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des enseignants
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example1">
                                <thead>
                                <tr class="">
                                    <th>Nom <a ng-show="!nomup" href="" ng-click="myOrderBy='Nom'; nomup=true">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                        <a ng-show="nomup" href="" ng-click="myOrderBy='-Nom'; nomup=false">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                        </a>
                                    </th>
                                    <th>Prenom <a ng-show="!prenomup" href="" ng-click="myOrderBy='Prenom'; prenomup=true">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                        <a ng-show="prenomup" href="" ng-click="myOrderBy='-Prenom'; prenomup=false">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                        </a>
                                    </th>
                                    <th class="hidden-sm hidden-xs">Pseudo
                                        <a ng-show="!usernameup" href="" ng-click="myOrderBy='username'; usernameup=true">
                                            <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                        <a ng-show="usernameup" href="" ng-click="myOrderBy='-username'; usernameup=false">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                        </a></th>
                                    <th class="hidden-sm hidden-xs">Mail
                                        <a ng-show="!emailup" href="" ng-click="myOrderBy='email'; emailup=true">
                                            <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                        <a ng-show="emailup" href="" ng-click="myOrderBy='-email'; emailup=false">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                        </a></th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="infos" ng-repeat-start="enseignant in Cours.enseignant| filter:searchBox | orderBy:myOrderBy" ng-class-odd="'odd'" ng-class-even="'even'">
                                    <td>{{enseignant.nom}}</td>
                                    <td>{{enseignant.prenom}}</td>
                                    <td class="hidden-sm hidden-xs">{{enseignant.username}}</td>
                                    <td class="hidden-sm hidden-xs">{{enseignant.email}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-circle-micro" ng-click="goToDeleteTeacher(cours.id, enseignant.enseignant_id)"><i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="enseignant.expanded" ng-repeat-end="">
                                    <td></td>
                                    <td colspan="99">
                                        <ul class="">
                                            <li class="hidden-xl hidden-lg hidden-md"><a href="#">username: {{enseignant.username}}</a></li>
                                            <li class="hidden-xl hidden-lg"><a href="#">email: {{enseignant.email}}</a></li>
                                            <li class=""><a href="#">enseignant_id: {{enseignant.enseignant_id}}</a></li>
                                            <li class=""><a href="#">user_id: {{enseignant.user_id}}</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <td></td>
                                </tr>
                                </tbody>

                            </table>
                            <button class="btn btn-primary pull-right" ng-click="goToAddTeacher(cours.id)">Ajouter un professeur</button>
                        </table>

                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>





            <!---------------------Eleves--------------------->


            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des élèves
                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr class="">
                                    <th>Nom <a ng-show="!nomup" href="" ng-click="myOrderBy='Nom'; nomup=true">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                        <a ng-show="nomup" href="" ng-click="myOrderBy='-Nom'; nomup=false">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                        </a>
                                    </th>
                                    <th>Prenom <a ng-show="!prenomup" href="" ng-click="myOrderBy='Prenom'; prenomup=true">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                        <a ng-show="prenomup" href="" ng-click="myOrderBy='-Prenom'; prenomup=false">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                        </a>
                                    </th>
                                    <th class="hidden-sm hidden-xs">Pseudo
                                        <a ng-show="!usernameup" href="" ng-click="myOrderBy='username'; usernameup=true">
                                            <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                        <a ng-show="usernameup" href="" ng-click="myOrderBy='-username'; usernameup=false">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                        </a></th>
                                    <th class="hidden-sm hidden-xs">Mail
                                        <a ng-show="!emailup" href="" ng-click="myOrderBy='email'; emailup=true">
                                            <span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                        <a ng-show="emailup" href="" ng-click="myOrderBy='-email'; emailup=false">
                                            <span class="glyphicon glyphicon-triangle-top"></span>
                                        </a></th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="infos" ng-repeat-start="eleve in Cours.eleves| filter:searchBox | orderBy:myOrderBy " ng-class-odd="'odd'" ng-class-even="'even'">
                                    <td>{{eleve.Nom}}</td>
                                    <td>{{eleve.Prenom}}</td>
                                    <td class="hidden-sm hidden-xs">{{eleve.username}}</td>
                                    <td class="hidden-sm hidden-xs">{{eleve.email}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-circle-micro" ng-click="goToDeleteEleve(cours.id, eleve.eleves_id)"><i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-if="eleve.expanded" ng-repeat-end="">
                                    <td></td>
                                    <td colspan="99">
                                        <ul class="">
                                            <li class="hidden-xl hidden-lg hidden-md"><a href="#">username: {{eleve.username}}</a></li>
                                            <li class="hidden-xl hidden-lg"><a href="#">email: {{eleve.email}}</a></li>
                                            <li class=""><a href="#">eleve_id: {{eleve.eleves_id}}</a></li>
                                            <li class=""><a href="#">user_id: {{eleve.user_id}}</a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <td></td>
                                </tr>
                                </tbody>

                            </table>
                            <button class="btn btn-primary pull-right" ng-click="goToAddEleve(cours.id)">Ajouter un élève</button>
                        </table>

                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>