
/*-----------------------------NAVBAR-------------------------------*/

.nav_dty {
    border-radius: 0px;
    text-decoration-color: white;
    padding-top:10px;
    padding-bottom: 10px;
    font-family: 'Asap', sans-serif;
    font-size: large;
}

.navbarEnseignantText{
    font-size:15px;
    font-family:'Verdana';
}

.navbarEnseignant{
    background-color: #d9edf7;
}

a:hover{font-weight:bold;}
a:active{color: #9acfea;}

#panel, #flip {
    width:50px;
    height:200px;
}

#panel {
    display: none;
}

/*---------------------------------------------------------------------*/