<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nouvel Enseignant</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="nom" class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newEnseignant.Nom" class="form-control" id="nom" placeholder="Nom"/>
                </div>
            </div>
            <div class="form-group">
                <label for="prenom" class="col-sm-2 control-label">Prenom</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newEnseignant.Prenom" class="form-control" id="prenom" placeholder="Prenom"/>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">AdresseMail</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newEnseignant.email" class="form-control" id="email" placeholder="email"/>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Pseudo</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="newEnseignant.username" class="form-control" id="username" placeholder="username"/>
                </div>
            </div>

            <!-- Ajouter Menu déroulant pour associer l'enseignant à un ou DES cours -->

            <!-- Ajouter Menu déroulant pour associer l'enseignant à un ou DES groupes -->

            <div class="container">

                <label for="listecours" class="col-sm-2 control-label" style="margin-right: 100px">Cours</label>
                <select class="btn btn-default" id="listecours" style="width: 400px;" multiple="multiple">
                    <optgroup label="Selectionnez un ou plusieurs cours (Ctrl+clic)">
                        <option value="1.0">Economie</option>
                        <option value="2.0">RASS</option>
                        <option>Electronique Analogique</option>
                        <option>Seven</option>
                        <option>Nine</option>
                    </optgroup>
                </select>

            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" ng-click="addEnseignant()" class="btn btn-primary" value="Ajouter Enseignant"/>
                </div>
            </div>
        </div>
    </div>
</div>