<!-- Page Content -->
<div>
    <div id="page-wrapper">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mes Cours
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row" ng-repeat="cours in MesCours">
            <hr>
            <div class="col-md-4">
                <a href="#">
                    <img ng-src="{{cours.image}}" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <h3>{{cours.nom}}</h3>
                <h4>{{cours.categorie.nom}}</h4>
                <p><span ng-bind="cours.description | limitTo:200"></span>
                    <span ng-if="cours.description.length > 200">...</span></p>
                <a class="btn btn-primary" ng-click="goToCours(cours.id)">Voir le cours <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <hr>
        </div>
        <!-- /.row -->

        <!-- /.row -->



        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>