<!-- Page Content -->
<div>
    <div id="page-wrapper">
        <!-- Page Heading -->
        <div class="margeJumbo">
            <div class="jumbotron">
                <h2>{{MonCours.nom}}</h2>
                <hr>
                <p>{{MonCours.categorie.nom}}</p>
                <hr>
                <p><span class="small">Professeur(s) :</span></p>
                <p><span ng-repeat="ens in EnseignantsAssocies | filter:{role:{id:3}} ">   <em class="small">{{ens.prenom}} {{ens.nom}}</em>  . </span></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Description -->
        <div class="row">
            <hr>
            <div>
                <p>{{MonCours.description}}</p>
            </div>
            <hr>
        </div>
        <!-- /.row -->
        <!-- Eleve Collapse -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" ng-click="expand()" data-target="#collapse1">Elèves
                            <span ng-if="expanded" class="pull-right"><i class="fa fa-angle-up"></i></span>
                            <span ng-if="!expanded" class="pull-right" ><i class="fa fa-angle-down"></i></span></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body"  ng-repeat="eleve in EnseignantsAssocies" ng-class-odd="'odd'" ng-class-even="'even'">{{eleve.nom}} {{eleve.prenom}}</div>
                </div>
            </div>
        </div>

        <div class="row">
        <hr>
         <div class="row">
             <div class="panel" >
                 <div class="col-md-4 col-sm-6 hero-feature" ng-repeat="eval in Eval">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Evaluation : <br><span class="small">{{eval.nom}}</span></h3>
                            <p>Devoir à rendre avant le :<br><strong>{{eval.date_fin_correction | date:dd/mm/yy}}</strong></p>
                            <p>
                                <button class="btn btn-primary" ui-sref="eleve.rendre_copie">
                                    Faire le devoir
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>